/* GLOBAL */
:root {
  --accent-color: #c9514c;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline-style: dashed;
  outline-color: var(--accent-color);
  outline-offset: 3px;
  outline-width: 3px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1040px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* HEADER  */
.header {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link svg {
  color: #333;
}

.header-logo-link svg:hover {
  color: var(--accent-color);
}

.header-logo-link svg:active {
  opacity: 0.6;
  color: var(--accent-color);
}

.headernav {
  display: flex;
  align-items: center;
}

.header-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-right: 40px;
}

.header-list-item:not(:last-child) {
  margin-right: 30px;
}

.header-list-item:nth-child(1) {
  border-bottom: 3px solid #333333;
}

.header-list-item {
  padding: 6px 0;
}

.header-list-item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #333;
}

.header-list-item-link:hover {
  color: var(--accent-color);
}

.header-list-item-link:active {
  opacity: 0.6;
  color: var(--accent-color);
}

.header-link {
  display: inline-block;
  padding: 6px 0;
  border-bottom: 3px solid #333333;
  transform: rotate(0.16deg);
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #666;
  text-align: center;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-link:active {
  opacity: 0.6;
  color: var(--accent-color);
}


/* HERO  */
.hero {
  background-image: url(../img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  padding-top: 100px;
  padding-bottom: 185px;

  border-bottom: 2px solid #ddd;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 100%;
  max-width: 490px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #000;
}

.hero-text {
  padding-left: 40px;
  margin-top: 0;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #777;
  border-left: 3px solid #888888;

}

.button {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button-hero {
  padding: 12px 39px;
}

/* ABOUT */
.about {
  background-color: #fff;
  padding-top: 68px;
  padding-bottom: 140px;
}

.about-list {
  width: 1000px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.about-list-item {
  width: 280px;
}

.about-list-item:not(:last-child) {
  margin-right: 80px;
}

.about-list-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222;
}

.about-list-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #333;
}

.about-list-footer {
  display: flex;
  align-items: center;
}

.about-list-footer-box {
  width: 8px;
  height: 8px;
  background-color: #ddd;
}

.about-list-footer-box:not(:last-child) {
  margin-right: 10px;
}

.about-list-footer-line {
  border: 3px solid #EA625C;
  width: 60px;
  height: 0px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.about-list-footer-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #ea625c;
}

.about-list-footer-link:hover {
  color: var(--accent-color);
  opacity: 0.8;
}

.about-list-footer-link:active {
  color: var(--accent-color);
  opacity: 0.6;
}